*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card{
    height:100px;
    width: 220px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}