*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.box{
    height: 300px;
    width: 300px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-left: 20px;
}


.card{
    padding:20px 50px 100px 200px;
    background-color: red;
}