*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card{
    height: 350px;
    width: 320px;
    background-color:rgba(255, 255, 255, 0.574) ;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.upper{
    height: 60%;
    width: 100%;
}

.upper img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 15PX;
}

.lower{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: flex-start     ;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.lower h1,h2{
    color: #000000;
}