*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body{
    height: 100%;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* 
.navbar{
    height: 60px;
    width: 100%;
    background-color: #e2e2e2;
    display: flex;
    align-items:center;
    justify-content:center;
      gap: 30px;
}

.navbar a{
    color: #3A86FF;
    text-decoration: none;
    font-family: cursive;
}

a:hover{
    color: rgb(131, 3, 131);
} 


.box{
    height: 90%;
    width: 90%;
    background-color: orange;
    display: flex;
    gap: 20px;
    align-items:center;
    justify-content:center;
}

.card{
    height: 100px;
    width: 100px;
    background-color: aqua;
} */

/* 
.box{
    height: 350px;
    width: 300px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-left:20px;
    border-radius:20px;
    color: white;
} */

.navbar{
    height: 70px;
    width: 100%;
    background-color: rgb(219, 219, 219);
    display: flex;
}

.logo{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1{
    color:purple;
    font-family: cursive;
}

.menus{
    height: 100%;
    width:50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.menus a{
    text-decoration:none;
    color: black;
    font-family: cursive;
    font-size: 18px;
}

.login{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 174, 255);
    color: white;
    font-family: cursive;
}

.container{
    height: 100%;
    width: 100%;
    background-color:aqua;
    display: flex;
}

.left{
    height: 100%;
    width: 50%;
    background-color: orange;
}

.right{
    height: 100%;
    width: 50%;
    background-color: antiquewhite;
}

.container1{
    height: 100%;
    width: 100%;
    background-color: brown;
}