*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box{
    height: 400px;
    width: 400px;
    background-color: orange;
    transition: all 0.2s linear;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 30px;
}

/* Child Selector */

/* .box:hover #text{
    color: aqua;
} */


/* Adjecent selector */

/* #text:hover + h1{

    color: red;

} */
/* 

#text1:hover ~ #text4{
    color: red;
}

#text1:hover ~ #text3{
    color: red;
} */
