*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
        display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    height:400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8f8f8f;
    flex-direction: column;
    gap: 30px;
}

/* .box:hover #st{
    color: red;
}


.box:hover #test{
    color: orange;
} */
/* 
#st:hover + #test{
    color: green;
} */
/* 

#st:hover ~ p{
    color: green;
    font-size: 20px;
} */