*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* h1{
    font-size: 50px;
    font-family: cursive;
    position: relative;
}

h1::before{

    content: "";
    height: 10px;
    width: 0px;
    background-color: red;
    display: block;
    transition:all 0.2s linear;
}

h1:hover::before{
    width:100%;
} */

button{
    padding: 15px 60px;
    font-size: 20px;
    font-family: cursive;
    border:1px solid black;
    background-color: transparent;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

button::after{
    content: "";
    display: block;
    height: 200px;
    width: 200px;
    background-color:rgb(23, 146, 228);
    position: absolute;
    left: -160px;
    border-radius: 50%;
    transition: all 0.4s linear;
    z-index: -1;
}

button:hover::after{
    transform: scale(4);
}

button:hover{
    color: #fff;
}